.desktop {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-image: url("img/mobileBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-image: url("img/mobileBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tabs {
  background-color: white;
  padding: 10px;
}

.tab-container {
  max-width: 85vw;
  margin: auto; 
}

.submit {
  float: right;
  margin-top: 10px;
  background-color: #5efc82;
}
