<div class="main-grid">
  <div class="tab-container">
    <mat-card>
      <mat-tab-group class="tabs">
        <mat-tab label="1">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="2">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="3">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="4">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="5">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="6"
          ><form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field></form
        ></mat-tab>
        <mat-tab label="7">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="8">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="9">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="10">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="11">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="12">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="13">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="14">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="15">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="16">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="17">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="18">
          <form>
            <mat-form-field class="scoreInput">
              <input matInput placeholder="Score" id="player0" />
            </mat-form-field>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
