<div [class.desktop]="!isMobile" [class.mobile]="isMobile">
  <div class="tab-container" [formGroup]="formGroup">
    <mat-card>
      <mat-tab-group class="tabs" formArrayName="values">
        <ng-container *ngFor="let hole of this.data.holes; index as x">
          <mat-tab label="{{ hole }}">
            <div
              *ngFor="let player of playerArray; index as y"
              [formArrayName]="y"
            >
              <h3>{{ player.playerName }}</h3>
              <mat-form-field class="scoreInput">
                <input
                  matInput
                  placeholder="Score"
                  type="number"
                  class="form-control"
                  name="score"
                  [formControlName]="x"
                />
              </mat-form-field>
              <div class="submit-game-button" *ngIf="(hole==18 && (y == playerArray.length-1))">
                <button
                  mat-raised-button
                  (click)="addScoresToArray()"
                  class="submit"
                  type="button"
                  routerLink="/results"
                >
                  Submit
                </button>
              </div>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
