.desktop {
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    flex: 1 1 auto;
    background-image: url("img/mobileBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mobile {
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    flex: 1 1 auto;
    background-image: url("img/mobileBackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
.main-grid {
    min-width: 100%;
    min-height: calc(100vh - 100px);
    margin: auto;
    align-content: center;
    margin: auto;
}
.rank-list {
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.score-list {
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.home-button {
    clear: both;
    margin-top: 10px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px;
    padding-right: 24px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    padding-right: 24px;
    border-bottom-style: solid;
    padding-left: 24px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-left: 24px;
    padding-right: 24px;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    margin-left: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-right: 5px;
}