
<div class="main-grid" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center">
    <!-- <h1 mat-dialog-title>hi</h1> -->
    <div class="lists" fxLayoutAlign="center center">
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <!-- Name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- Score -->
                <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!-- <mat-list class="rank-list">
                <mat-list-item> 1 </mat-list-item>
                <mat-list-item> 2 </mat-list-item>
                <mat-list-item> 3 </mat-list-item>
                <mat-list-item> 4 </mat-list-item>
                <mat-list-item> 5 </mat-list-item>
                <mat-list-item> 6 </mat-list-item>
                <mat-list-item> 7 </mat-list-item>
                <mat-list-item> 8 </mat-list-item>
                <mat-list-item> 9 </mat-list-item>
                <mat-list-item> 10 </mat-list-item>
            </mat-list>
        </div>
        <div>
                <mat-list class="score-list">
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
                <mat-list-item> </mat-list-item>
            </mat-list> -->
        </div>
    </div>
    <div class="home-button" fxLayoutAlign="center center">    
        <button mat-raised-button routerLink="/home" class="button">Home</button>
    </div>
</div>


<router-outlet></router-outlet>
