<div class="main-grid" fxFlex="1 1 100%" fxLayoutAlign="center center">
    <div class="player-form">
        <div class="header">
            <h1>Players</h1>
        </div>
        <div class="player-row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Player Name">
            </mat-form-field>
        </div>
        <div class="new-player-button" fxLayoutAlign="center center">    
                <button mat-raised-button class="button">New Player</button>
        </div>
        <div fxLayoutAlign="center center">
            <div class="cancel-start-button-row" >    
                <button mat-raised-button routerLink="/home" class="button">Cancel</button>
            </div>
            <div class="cancel-start-button-row">    
                <button mat-raised-button class="button">Start</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
