<div [class.desktop]="!isMobile" [class.mobile]="isMobile">
    <div class="player-form" fxAlign="center">
        <div class="header" fxLayoutAlign="center">
            <h1>Add Players</h1>
        </div>
        <form>
            <div class="player-row">
                <mat-form-field class="name-field" fxLayoutAlign="center">
                    <input matInput placeholder="Player Name" id="nameInput">
                </mat-form-field>
            </div>
            <div class="new-player-button" fxLayoutAlign="center center" (click)="pushPlayer()">    
                    <button mat-button type="button"  (click)="openSnackBar()" class="button">Add Player</button>
            </div>
        </form>
        <div fxLayoutAlign="center center">
            <div class="cancel-start-button-row" >    
                <button mat-button routerLink="/home" class="button">Cancel</button>
            </div>
            <div class="cancel-start-button-row" *ngIf="enoughPlayers; else elseBlock">    
                <button mat-button class="button" routerLink="/game">Start</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
