/* .main-grid {
  min-width: 100%;
  min-height: calc(100vh - 100px);
  margin: auto;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
} */
.desktop {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-image: url("img/mobileBackground.jpg");
  background-size: cover;
}
.mobile {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-image: url("img/ezgif.com-video-to-gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.player-row {
    padding: 24px;
}
.player-form {
  border-radius: 10px;
  background-color: #f9f9f8;
}

.new-player-button {
  margin-bottom: 10px;
  color: #7f0000;
}

.cancel-start-button-row {
  margin-right: 5px;
  margin-left: 5px;
  color: #7f0000;
  padding-bottom: 24px;
}
.header {
  background-color: #7f0000;
  color: #e3e3da;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
