/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: 'Titillium Web', sans-serif;
  /* background-image: url("img/golfBackground.jpg"); */
  margin: 0;
  height: 100%;
}