.main-grid {
  min-width: 100%;
  min-height: 80%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.highscores {
  margin: auto;
}

.main-container {
  background-color: #F9F9F8;
  border-radius: 10px;
}
.welcome-label {
  color: #E3E3DA;
  background-color: #7f0000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 10px;
}
.button {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #F9F9F8;
  color: #7f0000;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  color: #2B292B;
}

.how-to-play {
  margin-bottom: 10px;
}

.feature-list {
  list-style-type: none;
  width: 80%;
}

.score-list {
  width: 80%;
}
.expansion-panel {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.mobile {
  min-width: 100%;
  min-height: 80%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-image: url("img/golfBackground.jpg");
}
.desktop {
  min-width: 100%;
  min-height: 80%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 auto;
}